textarea{
    resize: none;
}
#sendMessage{
    padding: 2px 20px 2px 20px;
    margin: 5px 0px 5px 0px ;
}
.image-film-block{
    min-height: 80%;
    float: left;
    margin: 10px;
}
#info-film-block{
    min-width: 60%;
    margin: 10px;
}
#comments-film-block{
    margin: 10px;
}
.user-comments{

}
.userName-comment{
    font: 14px serif;
    color: #00006a;
}
.date-comment{
    font: 12px serif;
    color: #1c1c1c;
}
.text-comment{
    margin-top: 10px;
}
.comment{
    padding:10px;
    background-color: #cccccc;
    border-radius: 7px;
    margin: 0px 300px 3px 300px;
}
.count-pages{
    margin: 10px 300px 5px 300px;
}
.number-page > a{
    padding: 7px 10px 7px 10px;
    text-decoration: none;
}
.number-page > a:hover{
    color: red;
    background-color: #cccccc;
    border-radius: 20px;
}
