* {
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    background-color: yellow;
}
footer{
    float: right;
    width: 88%;
    margin-left: 12%;
    height: 40px;
}
.sign-in{
    margin: 0px 15px 0px 0px;
}

.wrapper{
    width: 100%;
    height: 100%;
}
.top-column{
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #061420;
    color: white;
    z-index: 100;
}

.left-col{
    margin: 70px 0px 0px 0px;
    position: fixed;
    float: left;
    width: 12%;
    height: 100%;
    background-color: #061420;
    color: white;
}
.right-col{
    margin: 70px 0px 0px 0px;
    float: right;
    width: 88%;
    color: black;
    min-height: 80%;
}
.form-container{
    margin: 70px 0px 0px 0px;
    position: fixed;
    opacity: 0.8;
    background-color: gray;
    height: 100%;
    float: right;
    width: 20%;
    right: 0;
}